In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('asu.tsv', delimiter = ';')
data.head()

            ID           BJD       RV  e_RV
0  Corot-7      2.454528e+06  31181.8   1.5
1  Corot-7      2.454531e+06  31173.2   1.5
2  Corot-7      2.454551e+06  31197.2   2.1
3  Corot-7      2.454776e+06  31188.1   2.2
4  Corot-7      2.454777e+06  31184.8   2.8

In [4]:
id = np.unique(data.ID)
id

array(['55 Cnc     ', '61 Vir     ', 'Corot-24   ', 'Corot-7    ',
       'GJ 15A     ', 'GJ 163     ', 'GJ 176     ', 'GJ 273     ',
       'GJ 3138    ', 'GJ 3293    ', 'GJ 3323    ', 'GJ 3341    ',
       'GJ 3634    ', 'GJ 3998    ', 'GJ 433     ', 'GJ 536     ',
       'GJ 581     ', 'GJ 667 C   ', 'GJ 676     ', 'GJ 832     ',
       'GJ 876     ', 'HD 1461    ', 'HD 156668  ', 'HD 175607  ',
       'HD 181433  ', 'HD 20794   ', 'HD 215497  ', 'HD 219134  ',
       'HD 3167    ', 'HD 40307   ', 'HD 7924    ', 'HD 85512   ',
       'K2-3       ', 'K2-32      ', 'Kepler-10  ', 'Kepler-100 ',
       'Kepler-102 ', 'Kepler-103 ', 'Kepler-106 ', 'Kepler-109 ',
       'Kepler-113 ', 'Kepler-131 ', 'Kepler-20  ', 'Kepler-21  ',
       'Kepler-22  ', 'Kepler-25  ', 'Kepler-37  ', 'Kepler-406 ',
       'Kepler-407 ', 'Kepler-409 ', 'Kepler-454 ', 'Kepler-48  ',
       'Kepler-62  ', 'Kepler-68  ', 'Kepler-93  ', 'Kepler-94  ',
       'Kepler-95  ', 'Kepler-96  ', 'Kepler-97  ', 'Kepler-98  ',
       'Kepler-99  ', 'LHS 1140   ', 'Proxima Cen', 'WASP-47    ',
       'Wolf 1061  '], dtype=object)

In [5]:
for k in id:
  k_ = k.strip()
  BJD = data[data.ID == k].BJD
  RV = data[data.ID == k].RV
  ERV = data[data.ID == k].e_RV
  
  np.savetxt(f'{k_}_RVdata.csv', 
             np.c_[BJD,RV,ERV], 
             header = 'BJD,RV,ERV', 
             fmt = '%s',
             delimiter = ',',
             comments = '')